<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-car fa-6x"></i>
    <h1 class="display-3">VTS</h1>
    <p class="lead">Monitor your vehicle anywhere, anytime</p>
    <hr>
    <h1>Change Door State?</h1>
    <a class="btn btn-dark btn-lg" href="/doorControl" role="button">Yes</a>
    <a class="btn btn-dark btn-lg" href="/vehiclestats" role="button">No</a>
  </div>
  </div>


<%- include('partials/footer') %>
