<%- include('partials/header') %>

<div class="jumbotron centered">
  <div class="container">
    <i class="fas fa-car fa-6x"></i>
    <h1 class="display-3">VTS</h1>
    <p class="lead">Monitor your vehicle anywhere, anytime</p>
    <hr>
    <a class="button btn btn-dark btn-lg" href="" download>Get image</a>
  </div>
</div>
<script src="js/image.js"></script>
<%- include('partials/footer') %>
