<%- include('partials/header') %>


<div id="map" class="map"></div>

<script src="/js/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=yourMapsAPIkey&callback=myMap"></script>

<%- include('partials/footer') %>
